body {
    background-image: url(fonte.jpg);
    background-size: cover;
}

h1 {
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 900;
    background-color: black;
    margin-left: 400px;
    margin-right: 400px;
    padding: 10px;
    border-radius: 15px;
    text-shadow: -2px 5px silver;
}

#inicio {
    color: white;
    font-size: 0.7cm;
    font-weight: 900;
    text-align: center;
    letter-spacing: 2px;
    background-image: none;
    margin-left: none;
    margin-right: none;
    padding: none;
    border-radius: none;
    box-shadow: none;
}

h3 {
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 900;
    background-color: black;
    margin-left: 600px;
    margin-right: 600px;
    padding: 10px;
    border-radius: 15px;
    text-decoration: underline;
}

p {
    color: white;
    font-size: 0.7cm;
    text-align: justify;
    letter-spacing: 2px;
    background-image: linear-gradient(to bottom, white 0%, silver 5%, grey 20%, black 60%);
    margin-left: 200px;
    margin-right: 200px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0;
}

.arial {
    font-family: Arial;
}

.times {
    font-family: 'Times New Roman';
}

.fantasy {
    font-family: fantasy;
}

.Courier {
    font-family: Courier;
}

.cursivas {
    font-family: cursive;
}

#ass {
    font-family: 'arial black';
    color: black;
    font-size: 0.5cm;
    font-weight: 900;
    text-align: left;
    letter-spacing: 2px;
    background-image: none;
    margin-left: none;
    margin-right: none;
    padding: none;
    border-radius: none;
    box-shadow: none;
}